{% comment %}
  Placeholder to allow defining custom head, in principle, you can add anything here, e.g. favicons:

  1. Head over to https://realfavicongenerator.net/ to add your own favicons.
  2. Customize default _includes/custom-head.html in your source directory and insert the given code snippet.
{% endcomment %}

<link rel="icon" type="image/svg" href="{{ "/assets/favicon.svg" | prepend: site.baseurl }}" />

<!-- Open Graph Meta -->
<meta content="{{ site.title }}" property="og:site_name">
<meta content="{{ site.title }}" property="og:title">
<meta content="website" property="og:type">
<meta content="{{ site.description }}" property="og:description">
<meta content="{{ site.url }}" property="og:url">
<meta content="{{ site.url }}/assets/img/favicon.png" property="og:image">

<!-- Twitter Cards -->
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@gmiotto">
<meta name="twitter:creator" content="@gmiotto">
<meta name="twitter:title" content="{{ site.title }}">
<meta name="twitter:url" content="{{ site.url }}">
<meta name="twitter:description" content="{{ site.description }}">
<meta name="twitter:image:src" content="{{ site.url }}/assets/img/favicon.png">
